.auth-illustration{

display:flex;

justify-content:center;

align-items:center;

min-height:clamp(160px,34vw,560px);

width:100%;

}

.bike-svg{

width:clamp(220px,34vw,520px);

transition:.3s;

}

.bike-svg:hover{

transform:scale(1.04);

}

/* Smart Watch */

@media(max-width:197px){

.auth-illustration{

display:none;

}

}