/* ===========================
CUSTOM MAP MARKER
=========================== */

.custom-marker{

    width:48px;

    height:auto;

    cursor:pointer;

    user-select:none;

    transition:
        transform .25s ease,
        filter .25s ease;

}

.custom-marker:hover{

    transform:
        translateY(-4px)
        scale(1.08);

    filter:drop-shadow(0 10px 15px rgba(0,0,0,.25));

}



/* Tablet */

@media(max-width:768px){

.custom-marker{

width:42px;

}

}



/* Phone */

@media(max-width:480px){

.custom-marker{

width:36px;

}

}



/* Smart TV */

@media(min-width:1800px){

.custom-marker{

width:65px;

}

}